* {
	font-size: 18px;
	font-weight: 600;
}
.tableCell {
	font-size: 18px !important;
	font-weight: 400 !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
