@import "src/ui/theme/color/_Color.scss";
.navbar {
	// background-color: $primaryColor;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100svw;
	height: calc(5rem - 1px);
}
