#root {
	width: 100vw;
}
.app {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 100vh;
}
* {
	box-sizing: border-box;
	font-family: "IRANSans-web" !important;
}

a {
	text-decoration: none !important;
}
